.jqplot-highlighter-tooltip {
	background-color: lightyellow;
	z-index: 100;
}

table.jqplot-table-legend { border-collapse: collapse; }
tr.jqplot-table-legend td { padding: 2px; }
.legend-row-highlighted { background-color: #ddd; }
