.jqplot-highlighter-tooltip {
	background-color: lightyellow;
	z-index: 100;
}

table.jqplot-table-legend { border-collapse: collapse; }
tr.jqplot-table-legend td { padding: 2px; }
.legend-row-highlighted { background-color: #ddd; }

#submenu { float: left; }
#submenuright {
	text-align: right;
	clear: right;
	width: 100%;
	padding: 0 0 20px 0;
}
